@Library(['{{sharedLib}}'])_
{{app}}CIPipeline
{
    applicationName             = '{{applicationName}}'
    mvnGoals                    = '{{mvnGoals}}'
    buildNode                   = '{{buildNode}}'
    sonarProjectName            = '{{sonarProjectName}}'
    sonarProjectKey             = '{{sonarProjectKey}}'
    sonarProjectVersion         = '{{sonarProjectVersion}}'
    sonarProjectLanguage        = '{{sonarProjectLanguage}}'
    sonarSources                = '{{sonarSources}}'
    executeSonar                = '{{executeSonar}}'
    nexusAppName                = '{{nexusAppName}}'
    packaging                   = '{{packaging}}'
    package_Path                = '{{package_Path}}'
    sonarBinaries               = '{{sonarBinaries}}'
    emailRecipientsList         = '{{emailRecipientsList}}'
    filePath                    = '{{filePath}}'
    componentName               = '{{componentName}}'
    devPlaybookFilePath         = '{{devPlaybookFilePath}}' 
    devInventory_FileName       = '{{devInventory_FileName}}'
    devDeploymentRepoPath       = '{{devDeploymentRepoPath}}'
    devDeploymentGroup          = '{{devDeploymentGroup}}'
    devJobTemplate              = '{{devJobTemplate}}'
    
    testPlaybookFilePath        = '{{testPlaybookFilePath}}'
    testInventory_FileName      = '{{testInventory_FileName}}'
    testDeploymentRepoPath      = '{{testDeploymentRepoPath}}'
    testDeploymentGroup         = '{{testDeploymentGroup}}'
    TestSuiteName               = '{{TestSuiteName}}'
    environment                 = '{{environment}}'
    TestSuiteUrl                = '{{TestSuiteUrl}}'
    testEnvApproversList        = '{{testEnvApproversList}}'
    testJobTemplate             = '{{testJobTemplate}}'
}
